<html layout:decorate="~{layout}">
  <head>
    <title>Listado de Proyectos</title>
  </head>
  <th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">Listado</li>
  </th:block>
  <div layout:fragment="page_content" id="page_content">
    <body>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <!-- <th scope="col">Descripción</th> -->
            <th scope="col">Estado</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Fecha de modificación</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="proyecto: ${proyectos}">
            <td scope="row"><span th:text="${proyecto.titulo}"/></td>
            <!-- <td><span th:text="${proyecto.descripcion}"/></td> -->
            <td><span th:text="${proyecto.estado}"/></td>
            <td><span th:text="${#dates.format(proyecto.fecha_creacion, 'dd-MM-yyyy HH:mm')}"/></td>
            <td><span th:text="${#dates.format(proyecto.fecha_modificacion, 'dd-MM-yyyy HH:mm')}"/></td>
            <td>
              <div class="btn-group btn-group-toggle">
                <form action="#" th:action="@{'/proyecto/edit/' + ${proyecto.id}}">
                  <button type="submit"  class="btn btn-info">Editar</button>
                </form>
                <form action="#" th:action="@{/proyecto/delete}" method="post">
                  <input type="hidden" name="id" th:value="${proyecto.id}" />
                  <button type="submit" onclick="show_confirm()" class="btn btn-danger">Eliminar</button>
                </form>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <form action="#" th:action="@{/proyecto/new}">
          <input type="submit" class="btn btn-primary btn-lg-btn-block" value="Nuevo Proyecto"/>
        </form>
      </div>
    </body>
  </div>
  <th:block layout:fragment="scripts">
    <script type="text/javascript">
      function show_confirm() {
          return confirm("¿Esta seguro?");
      }
    </script>
  </th:block>
</html>
